@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.poppins-font {
  font-family: "Poppins", serif;
  font-style: normal;
}
body {
  margin: 5.31rem 7.5rem 0;

}

.central-section{
  /* display: flex; */
  /* justify-self: center;
  max-width: 1500px; */
  /* box-shadow: 0 0 15px  rgba(58, 58, 58, 0.1); */
  /* background-color: rgba(58, 58, 58, 1); */
}
/* color sector -----------------*/

.font-color-1 {
  color: rgba(58, 58, 58, 1);
}
.border-color-1 {
  color: rgba(192, 204, 218, 0.1);
}
/* nav style ---------------- */
nav a {
  text-decoration: none;
  color: rgba(58, 58, 58, 1);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}
.nav-2 {
  display: none;
}
.nav-link-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-weight: 500;
}
.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

/* button style ------------ */
button {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  border: 0;
  gap: 8px;
  background-color: rgba(224, 44, 109, 1);
  color: white;
  font-weight: bold;
}
#btn-1 {
  border-radius: 41px;
}

/* header style  -----------*/

.header-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* border: 5px solid rgb(0, 255, 94); */
}
.header-banner > div,
.header-banner-text {
  /* gap: 16px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.header-banner-text h1 {
  font-size: clamp(1.5rem, calc(2.64vw + 1rem), 3.25rem);
  /* font-size: 2.6vw; */

  /* font-size: 3.25rem; */
  font-weight: bold;
  /* line-height: 3.4vw; */
}
.header-banner-text p {
  font-size: clamp(0.8rem, calc(0.8vw+1rem), 1rem);
  font-weight: 500;
  /* line-height: 1.5rem; */
}
.header-banner-images-container {
  /* border: 5px solid red; */
}
#header-banner-images {
  /* border: 5px solid rgb(0, 255, 51); */
  display: flex;
  justify-content: right;
  position: relative;
}
#main-camera {
  /* border: 6px solid rgb(81, 104, 255); */
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Payment methods style ----------- */

.payment-methods {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  place-content: center;
  align-items: center;
  gap: 11px 60px;
  padding: 25px 62px;
  margin: 70px 50px 75px;
  border-top: 2px solid rgba(192, 204, 218, 0.2);
  border-bottom: 2px solid rgba(192, 204, 218, 0.2);
  /* border: 2px solid rgb(25, 0, 255); */
}
.payment-methods a {
  /* border: 1px solid rgb(0, 255, 0); */
}

/* popular collections container style ------------ */

.collections-container{
  /* justify-items: center */
}
.collections-header > p {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  padding : 1.5rem;
  margin: 30px 0px;
  /* border: 5px solid; */
  /* align-items: center; */
}

.collections-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
  gap: 2rem;
  justify-items: center;
  /* margin: 0px calc(8vw - 1rem); */
  /* max-width: 1135px ; */
  /* justify-content: center; */
  /* justify-items: center; */
  /* justify-self: center; */
  /* border: 2px solid rgb(0, 255, 26); */
  
}
.collections-card{
  padding: 20px;
  width: 350px;
  box-shadow: 0 0 40px  rgba(58, 58, 58, 0.18);
  border-radius: 10px;
  display: grid;
  gap: 8px;
}
.collections-cards img{
  width: 100%;
}
.card-header{
  color : rgba(24, 25, 31, 1);
  font-size :1.75rem;
  font-weight: 550;
}
.card-price{
  font-size: 1.25rem;
  /* color: aqua; */
}
.card-para{
  color: rgba(120, 120, 133, 1);
  font-size: 1rem;
  font-weight: bold;
}
/* media query  --------------*/
/* for mobile view */

@media screen and (max-width: 576px) {
  * {
    font-size: 14px;
  }
  body {
    margin: 35px 16px 0;
  }

  /* nav style ---------- */
  .nav {
    display: none;
  }
  .nav-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 22px;
  }
  .brand {
    font-weight: bold;
  }

  /* header banner style-------- */
  .header-banner {
    display: flex;
    flex-direction: column-reverse;
  }
  .header-banner-content {
    align-items: center;
  }
  .header-banner-text {
    text-align: center;
  }
  #header-banner-images {
    justify-content: center;
  }
  #Circle-design {
    width: 100%;
    padding: 36px;
  }
  #main-camera {
    inset: 0;
    display: grid;
    place-items: center;
  }
  #main-camera-img {
    width: 75%;
  }

  /* payment methods style ------------ */
  .payment-methods {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, 10%); */
    border: none;
    gap: 11px 25px ;
    padding: 50px 0 24px;
    margin: 0;
  }
  .payment-methods img {
    display: flex;
    width: 13vw;
  }












}
